@model Perfomans.Models.Departments
@using Perfomans.Models

@{
    ViewData["Title"] = "Parameter";
}

<table class="table_main">
    <caption>Parameters</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Mark</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DepartmentParameters deparameters in Model.DepartmentParameters)
        {
            if (deparameters.DepartmentId == Model.Id)
            {
                <tr>
                    @foreach (Parameters parameters in ViewBag.Parameters)
                    {
                        if (deparameters.ParameterId == parameters.Id)
                        {
                            <td>@parameters.Name</td>

                        }
                    }
                    <td>
                        @deparameters.mark
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "DepParam", FormMethod.Get))
                        {
                            <input type="hidden" id="DepartmentId" name="DepartmentId" value="@deparameters.DepartmentId" />
                            <input type="hidden" id="ParameterId" name="ParameterId" value="@deparameters.ParameterId" />
                            <button type="submit" class="btn_danger">Delete</button>
                        }

                        @using (Html.BeginForm("Edit", "DepParam", FormMethod.Get))
                        {
                            <input type="hidden" id="DepartmentId" name="DepartmentId" value="@deparameters.DepartmentId" />
                            <input type="hidden" id="ParameterId" name="ParameterId" value="@deparameters.ParameterId" />
                            <button type="submit" class="btn_edit">Edit</button>
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
    <tfoot class="full-width">
        <tr>
            <th colspan="4">
                <div class="ui right floated small">
                    @using (Html.BeginForm("Create", "DepParam", FormMethod.Get))
                    {
                        <input type="hidden" Id="depId" name="depId" value="@Model.Id">
                        <button type="submit" class="btn_create">Create New</button>
                    }
                </div>

            </th>
        </tr>
    </tfoot>
</table>