@{
    ViewData["Title"] = "Progress";
}
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <table class="table_main">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sourname</th>
                        <th>Perfomances</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (User user in Model.User)
                    {
                        if (ViewBag.Direction == 1)
                        {
                            if (user.progress == 1)
                            {
                                <tr>
                                    <td>
                                        @user.Name
                                    </td>
                                    <td>
                                        @user.SourName
                                    </td>
                                    <td>
                                        @foreach (DepartmentParameters deparameters in Model.DepartmentParameters)

                                        {
                                            @foreach (Evaluations evaluations in ViewBag.Evaluations)
                                            {
                                                if ((deparameters.ParameterId == evaluations.ParameterId) & (evaluations.UserId == user.Id))
                                                {
                                                    @evaluations.Parameter.Name <span>-</span> @evaluations.Mark

                                                }
                                            }
                                            <br />
                                        }
                                    </td>
                                    <td>
                                        <i class="chevron up icon"></i>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            if (user.progress == -1)
                            {
                                <tr>
                                    <td>
                                        @user.Name
                                    </td>
                                    <td>
                                        @user.SourName
                                    </td>
                                    <td>
                                        @foreach (DepartmentParameters deparameters in Model.DepartmentParameters)

                                        {
                                            @foreach (Evaluations evaluations in ViewBag.Evaluations)
                                            {
                                                if ((deparameters.ParameterId == evaluations.ParameterId) & (evaluations.UserId == user.Id))
                                                {
                                                    @evaluations.Parameter.Name <span>-</span> @evaluations.Mark

                                                }
                                            }
                                            <br />
                                        }
                                    </td>
                                    <td>
                                        <i class="chevron down icon"></i>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
