@model Perfomans.Models.Departments
@using Perfomans.Models

@{
    ViewData["Title"] = "Top workers";
}
<h1>Best workers of this group</h1>

<table class="table_main">
    <thead>
        <tr>
            <th>Name</th>
            <th>Sourname</th>
            <th>Perfomances</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>

        @foreach (User user in ViewBag.topsort)
        {
            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.SourName
                </td>
                <td>
                    @foreach (ParametersGroup parametersGroup in ViewBag.ParametersGroup)

                    {
                        @foreach (Evaluations evaluations in ViewBag.Evaluations)

                        {
                            if ((parametersGroup.GroupId == ViewBag.GroupId) & (parametersGroup.ParameterId == evaluations.ParameterId) & (evaluations.UserId == user.Id))
                            {
                                @evaluations.Parameter.Name <span>-</span> @evaluations.Mark

                            }
                        }
                        <br />
                    }
                </td>
                <td>
                    @if (user.result != 0)
                    {@user.result}

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="btn_create">
    @Html.ActionLink("Export data to excel", "Excel", "Departments")
</div>