@model IEnumerable<Perfomans.Models.ParametersGroup>

@{
    ViewData["Title"] = "Parameters group -";
}

<h1>Parameters group</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table_main">
    <caption>Parameters group</caption>
<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parameters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parameters.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Groups.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>
